[Unit]
Description=othub.io create n transfer processor

[Service]
Type=simple
WorkingDirectory=/root/othub-processor
ExecStart=/root/othub-processor/othub-processor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target